body {
    background-color: #2C2C2C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: #F7FE74;
    margin-top: -2.5%;
    margin-left: -1.5%;
    margin-right: -0.5%;
    background-image: url("photos/fire.png");
    background-size: cover;
}

.title {
    text-align: center;
    padding: 5%;
    font-size: 50px;
}

.button {
    background-color: #C11313;
    color: #FFFFFF;
    padding: 0.5%;
    margin-top: -5%;
    margin-left: 1%;
    text-decoration: none;
    border: none;
}

.button:hover {
    background-color: #e61919;
    color: #ececec;
}


.content1 {
    background-color: #656565;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 3%;

    overflow-x: scroll;
    display: flex;


}

.carts {
    margin-left: 1%;
    background-color: #D2D1D1;
    display: inline-block;
    padding: 3%;
    width: 300px;
    height: 500px;
}


.content2 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;

    overflow-x: scroll;
    display: flex; 

}


.content3 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;

    overflow-x: scroll;
    display: flex;

}

.text {
    color: #FFFFFF;

}


.content4 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.content5 {
    background-color: #D2D1D1;
    padding: 2%;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.button2 {
    background-color: #C11313;
    color: #FFFFFF;
    padding: 0.5%;
    width: 100px;
    margin-top: -5%;
    margin-left: 1%;
    border: none;
}

.button2:hover {
    background-color: #e61919;
    color: #ececec;
}


input {
    border: none;
}

textarea {
    border: none;
    resize: none
}

select {
    border: none;
}

#review {
    height: 50px;
}

#link {
    width: 250px;
}

.button3 {
    background-color: #C11313;
    color: #FFFFFF;
    padding: 0.8%;
    margin-left: 1%;
    width: 90px;
    border: none;
}

.button3:hover {
    background-color: #e61919;
    color: #ececec;
}

.radio_color {
    accent-color: #C11313;
}



.wrap li {
    margin: 0 20px;
    display: inline;
}


.wrap::-webkit-scrollbar {
    display: none;
}

.wrap {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 


