body {
    background-color: #2C2C2C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
   background-color: #F7FE74;
   margin-top: -2.5%;
   margin-left: -1.5%;
   margin-right: -0.5%;
   background-image: url("photos/fire.png");
   background-size: cover;
}

.title {
    text-align: center;
padding: 5%;
font-size: 50px;
}

.button{
  background-color: #C11313;
  color:#FFFFFF;
  padding: 0.5%;
  width: 100px;
  margin-top: -5%;
  margin-left: 1%;
  text-decoration: none;
}


.content1 {
    background-color: #656565;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;

    overflow-x: scroll;
    display: flex; 
    height: 550px;
    width: 1470px;

}

.carts {
    margin-left: 1%;
    background-color: #D2D1D1;
    display: inline-block;
    padding: 1%;
    width: 300px;
}


.content2 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;
}


.content3 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;

}

.text {
    color:#FFFFFF;

}


.content {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
}

