body {
    background-color: #2C2C2C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: #F7FE74;
    margin-top: -2.5%;
    margin-left: -1.5%;
    margin-right: -0.5%;
    background-image: url("photos/fire.png");
    background-size: cover;
}

.title {
    text-align: center;
    padding: 5%;
    font-size: 50px;
}

.button {
    background-color: #C11313;
    color: #FFFFFF;
    padding: 0.5%;
    width: 200px;
    margin-top: -5%;
    margin-left: 1%;
    text-decoration: none;
}

.button:hover {
    padding: 0.8%;
}


.content1 {
    background-color: #656565;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 3%;

    overflow-x: scroll;
    display: flex;


}

.carts {
    margin-left: 1%;
    background-color: #D2D1D1;
    display: inline-block;
    padding: 1%;
    width: 300px;
}


.content2 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;
    
}


.content3 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;

}

.text {
    color: #FFFFFF;

}


.content4 {
    background-color: #656565;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.content5 {
    background-color: #D2D1D1;
    padding: 2%;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.button2 {
    background-color: #C11313;
    color: #FFFFFF;
    padding: 0.5%;
    width: 100px;
    margin-top: -5%;
    margin-left: 1%;
    border: none;
}

.button2:hover {
   padding: 0.8%;
   width: 120px;
}


input {
    border: none;
}

textarea{
    border: none;
    resize: none
}

select{
    border: none;
}

#review {
    height: 50px;
}

#link{
    width: 250px;
}